/* app/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures that body and html elements take full height */
  width: 100%;
}

#app,
#__next {
  height: 100%; /* Full height for the Next.js app wrapper */
}

body {
  display: flex;
  flex-direction: column;
}
